		@font-face{
        	font-family: 'PingFang SC Light';
        	src: url(../font/pingfangxiti.ttf);
      	}
		body{
			margin: 0;
			padding: 0;
			height: 900px;
		}

/*----------------------------------top glass--------------------------------------		*/
		.wrap{
			height: 900px;
			max-width: 1920px;
			min-width: 1406px;
			width: 100%;
		}
		.glass{
			background: url(../img/morig.png);
			background-size: cover;
			height: 100%;
			position: absolute;
			width: 1920px;
			z-index: -1;
		}


/*-------------------------------------------top menu-----------------------------------	*/	



		#logo{
			height: 174px;
			left: 58px;
			margin-top: 20px;
			position: absolute;
			width: 100px;
		}
		
		.topRight{
			height: 66px;
			max-width: 1920px;
			min-width: 1406px;
			width: 100%;
		}
		.hx{
			float: left;
			padding-left: 30px;
		}
		ul li{
			list-style: none;
		}
		#help{
			margin-right: 50px;
		}
		#dropdown1{
			position: absolute;
			right: 50px;
			top: 20px;
		}
		.topRight a{
			color: #f2f2f2;
			text-decoration: none;
			font-family: 'PingFang SC Light';
			font-size: 14px;
			font-weight: bold;
		}
		#logo img{
			max-height: 20%;
			position: absolute;
		}
		#box1{
	    	left: 80px;
		}
		#box2{
	    	left: 390px;
		}
		#box1,#box2{
			background-color: #333;
			position: absolute;
	    	top: 25px;
		}
		#box1 a,#box2 a{
			color: #f2f2f2;
			font-weight: bold;
		}
		#box1 a:hover,#box2 a:hover{
			background-color: #444;
		}


/*--------------------------------sign up-----------------------------------------------*/

		.signUp{
			border: 1px solid #f2f2f2;
			border-radius: 8px;
			height: 450px;
			margin: 0 auto;
			top: -659px;
			position: relative;
			width: 555px;
		}
		.uppercase{
			color: #f2f2f2;
			text-align: center;
			font-family: 'PingFang SC Light';
			font-size: 32px;
			line-height: 75px;
		}
		#register_email,#password,#confirm_password{
			width: 489px;
			height: 50px;
			margin: 0 auto;
			display: block;
			font-family: 'PingFang SC Light';
			font-size: 18px;
			font-weight: bold;
			padding-left: 20px;
		}
		.typein{
			margin-bottom: 25px;
		}
		#register_button{
			color: #f2f2f2;
			font-family: 'PingFang SC Light';
			font-size: 18px;
			width: 489px;
			height: 50px;
			background-color: #333;
			border: 1px solid #333;
			border-radius: 8px;
			position: relative;
			left: 32px;
		}
		.mb0{
			color: #333;
			font-family: 'PingFang SC Light';
		    font-size: 14px;
		    font-weight: bold;
		    text-align: center;
		    line-height: 70px;
		}
		.mb0 a{
			color: #333;
			font-family: 'PingFang SC Light';
		    font-size: 14px;
		    font-weight: bold;
			text-decoration: none;
		}