		@font-face{
        	font-family: 'PingFang SC Light';
        	src: url(../font/pingfangxiti.ttf);
      	}
		body{
			margin: 0;
			padding: 0;
			height: 900px;
		}

/*----------------------------------top glass--------------------------------------		*/
		.wrap{
			height: 900px;
			max-width: 1920px;
			min-width: 1406px;
			width: 100%;
		}
		.glass{
			background: url(../img/morig.png);
			background-size: cover;
			height: 100%;
			position: absolute;
			width: 1920px;
			z-index: -1;
		}


/*-------------------------------------------top menu-----------------------------------	*/	



		#logo{
			height: 174px;
			left: 58px;
			margin-top: 20px;
			position: absolute;
			width: 100px;
		}
		
		.topRight{
			height: 66px;
			max-width: 1920px;
			min-width: 1406px;
			width: 100%;
		}
		.hx{
			float: left;
			padding-left: 30px;
		}
		ul li{
			list-style: none;
		}
		#help{
			margin-right: 50px;
		}
		#dropdown1{
			position: absolute;
			right: 50px;
			top: 20px;
		}
		.topRight a{
			color: #f2f2f2;
			text-decoration: none;
			font-family: 'PingFang SC Light';
			font-size: 14px;
			font-weight: bold;
		}
		#logo img{
			max-height: 20%;
			position: absolute;
		}
		#box1{
	    	left: 80px;
		}
		#box2{
	    	left: 390px;
		}
		#box1,#box2{
			background-color: #333;
			position: absolute;
	    	top: 25px;
		}
		#box1 a,#box2 a{
			color: #f2f2f2;
			font-weight: bold;
		}
		#box1 a:hover,#box2 a:hover{
			background-color: #444;
		}


/*--------------------------------login-----------------------------------------------*/

		.login{
			border: 1px solid #f2f2f2;
			border-radius: 8px;
			height: 481px;
			margin: 0 auto;
			top: -659px;
			position: relative;
			width: 360px;
		}
		.title1{
			color: #f2f2f2;
			font-family: 'PingFang SC Light';
			font-size: 32px;
			padding-top: 20px;
			text-align: center;
		}
		#email,#password{
			border: none;
			font-family: 'PingFang SC Light';
			font-size: 14px;
			font-weight: bold;
			display: block;
			height: 50px;
			margin: 0 auto;
			padding-left: 20px;
			width: 295px;
		}
		.em{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		form p{
			color: #333;
			font-family: 'PingFang SC Light';
			font-size: 14px;
			font-weight: bold;
			padding: 20px 30px;
			text-shadow: 2px;
		}
		.login2{
			color: #f2f2f2;
			background-color: #333;
			border: none;
			border-radius: 8px;
			font-family: 'PingFang SC Light';
			font-size: 16px;
			height: 50px;
			left: 32px;
			position: relative;
			width: 295px;
		}
		.forgot a,.no_id a{
			color: #333;
			font-size: 14px;
			font-family: 'PingFang SC Light';
			font-weight: bold;
			text-decoration: none;
		}
		.forgot,.no_id{
			margin: 0 auto;
			padding-top: 30px;
			width: 130px;
		}